<script setup lang="ts">
import axios from 'axios'
import { ref } from 'vue'

const errorMessage = ref<string>('')
const bodyfat = ref('')
const colorCard1 = ref('#E7EEFF')
const colorCard2 = ref('#FFEFE7')
const colorCard3 = ref('#E7EEFF')
const colorCard4 = ref('#FFEFE7')
const colorCard5 = ref('#E7EEFF')
const colorCard6 = ref('#FFEFE7')

const bodyfatData = ref({
  weight: 0.0,
  chest: 0.0,
  abdomen: 0.0,
  hip: 0.0,
  thigh: 0.0
})

const predictBodyFat = async () => {
  try {
    const response = await axios.post('http://localhost:8000/predict/', bodyfatData.value)

    console.log('Predicted Body Fat:', response.data)
    bodyfat.value = response.data
    errorMessage.value = ''
    if (response.data <= 0) {
      return
    } else if (response.data <= 5) {
      colorCard2.value = '#efa5ba'
    } else if (response.data <= 8) {
      colorCard2.value = '#efa5ba'
    } else if (response.data <= 12) {
      colorCard3.value = '#efa5ba'
    } else if (response.data <= 20) {
      colorCard4.value = '#efa5ba'
    } else if (response.data <= 30) {
      colorCard5.value = '#efa5ba'
    } else {
      colorCard6.value = '#efa5ba'
    }
  } catch (error) {
    console.error('Failed to predict Body Fat:', error)
    bodyfat.value = 'Failed to predict Body Fat'
  }
}
</script>

<template>
  <v-container class="my-container h-screen" fluid full-height>
    <v-row>
      <v-col col="12" sm="6" fluid>
        <v-card
          class="mx-auto mt-5"
          elevation="8"
          max-width="600"
          height="880"
          rounded="lg"
          color="#FFF8EB"
          
        >
          <v-form class="ml-15 mr-15">
            <v-row class="mt-5" style="text-align: center">
              <v-col>
                <p style="font-size: 70px; color: #675b4d">Body Fat Calculation</p>
              </v-col></v-row>
            <v-row class="mt-5">
              
              <v-col cols="4">
                <p style="font-size: 30px; color: #675b4d">Weight</p>
              </v-col>

              <v-col cols="8">
                <v-text-field
                  variant="solo"
                  suffix="lbs."
                  v-model="bodyfatData.weight"
                  rounded="xl"
                  bg-color="#D8C2A8"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p style="font-size: 30px; color: #675b4d">Chest</p>
              </v-col>

              <v-col cols="8">
                <v-text-field
                  variant="solo"
                  suffix="cm."
                  v-model="bodyfatData.chest"
                  rounded="xl"
                  bg-color="#D8C2A8"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p style="font-size: 30px; color: #675b4d">Abdomen</p>
              </v-col>

              <v-col cols="8">
                <v-text-field
                  variant="solo"
                  suffix="cm."
                  v-model="bodyfatData.abdomen"
                  rounded="xl"
                  bg-color="#D8C2A8"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p style="font-size: 30px; color: #675b4d">Hip</p>
              </v-col>

              <v-col cols="8">
                <v-text-field
                  variant="solo"
                  suffix="cm."
                  v-model="bodyfatData.hip"
                  rounded="xl"
                  bg-color="#D8C2A8"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <p style="font-size: 30px; color: #675b4d">Thigh</p>
              </v-col>

              <v-col cols="8">
                <v-text-field
                  variant="solo"
                  suffix="cm."
                  v-model="bodyfatData.thigh"
                  rounded="xl"
                  bg-color="#D8C2A8"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-btn
                @click="predictBodyFat()"
                color="#7B7064"
                size="x-large"
                width="380px"
                height="70px"
                variant="elevated"
                rounded="xl"
                style="font-size: 30px"
                class="mt-3"
                block
              >
                calculate
              </v-btn>
            </v-row>
          </v-form>
        </v-card>
      </v-col>
      <v-col col="12" sm="6" class="mt-15">
        <v-row style="text-align: center">
          <h1 style="font-size: 70px; color: #675b4d; margin: auto">BODY FAT</h1>
        </v-row>
        <v-row
          ><v-img
            src="image_bodyfat.png"
            style="margin: 0 auto"
            width="650"
            height="180"
            class="mt-8"
            cover
          ></v-img
        ></v-row>

        <v-col cols="12" sm="12" class="mt-5"
          ><h1 style="font-size: 25px; color: #675b4d; margin: auto">
            your body fat is :
            <span style="color: #efa5ba; text-decoration: underline">{{ bodyfat }}</span> %
          </h1>
        </v-col>

        <v-col>
          <v-card
            :color="colorCard1"
            variant="elevated"
            class="mx-auto"
            max-width="700"
            rounded="xl"
          >
            <v-card-item>
              <div class="text-h6 mb-1">> 5 % ไขมันน้อยจนถึงขั้นวิกฤต <span style="font-weight: bold;">รูปผอมบางมากเกินไป</span></div>
            </v-card-item>
          </v-card>
        </v-col>
        <v-col>
          <v-card
            :color="colorCard2"
            variant="elevated"
            class="mx-auto"
            max-width="700"
            rounded="xl"
          >
            <v-card-item>
              <div class="text-h6 mb-1">5-8 % ไขมันน้อยมาก <span style="font-weight: bold;">รูปร่างเพรียวบาง</span> </div>
            </v-card-item>
          </v-card>
        </v-col>
        <v-col>
          <v-card
            :color="colorCard3"
            variant="elevated"
            class="mx-auto"
            max-width="700"
            rounded="xl"
          >
            <v-card-item>
              <div class="text-h6 mb-1">9-12 % ไขมันน้อย <span style="font-weight: bold;">รูปร่างกระชับสมส่วน</span> </div>
            </v-card-item>
          </v-card>
        </v-col>
        <v-col>
          <v-card
            :color="colorCard4"
            variant="elevated"
            class="mx-auto"
            max-width="700"
            rounded="xl"
          >
            <v-card-item>
              <div class="text-h6 mb-1">13-20 % ไขมันตามมาตรฐานทั่วไป <span style="font-weight: bold;">ร่างกายสมส่วน</span> </div>
            </v-card-item>
          </v-card>
        </v-col>
        <v-col>
          <v-card
            :color="colorCard5"
            variant="elevated"
            class="mx-auto"
            max-width="700"
            rounded="xl"
          >
            <v-card-item>
              <div class="text-h6 mb-1">21-30 % ไขมันส่วนเกิน <span style="font-weight: bold;">รูปร่างท้วม</span> </div>
            </v-card-item>
          </v-card>
        </v-col>
        <v-col>
          <v-card
            :color="colorCard6"
            variant="elevated"
            class="mx-auto"
            max-width="700"
            rounded="xl"
          >
            <v-card-item>
              <div class="text-h6 mb-1">> 30 % ไขมันมากในระดับวิกฤต <span style="font-weight: bold;"> รูปร่างอ้วนกลม</span></div>
            </v-card-item>
          </v-card>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
