<script setup lang="ts">
import { RouterView } from 'vue-router'
</script>

<template>
  <main></main>
  <RouterView></RouterView>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
  font-family: 'Inria Serif', serif;
}
</style>
